body {
	margin: 0;
}

input {
	width: 100%;
}

.docset-parent {
	width: 100%;
}

#docset-page {
	border-left: solid;
	flex-grow: 4;
	max-height: 100vh;
}

#docset-table {
	border-top: solid;
	width: 100%;
}

#header {
	display: none;
	text-align: center;
}

#main-body {
	display: flex;
}

#searchbar {
	max-width: 20vw;
}

#sidebar {
	border-right: solid;
	height: 100vh;
	overflow: scroll;
}
